<!DOCTYPE html>
<html lang="en">
<head>
  <title>Escape</title>
  <link href="./lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="./lib/Materialize/bin/materialize.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>

  <div ng-app="escape">
      
     <div ng-controller="menuController" class="background" style="background-image: url({{url}})">

     <div class="centered">
       <div ng-controller="timeController">
         <h1 class="center">{{ today | date:'longDate' }}</h1>
         <h1 class="center">{{ today | date:'shortTime' }}</h1>
       </div>  
     </div>

      <div class="row foot">
        <div class="col s4">
          <p class="left-align" ng-click="changePicture()">Change</p>
        </div>

        <div class="col s4">
          <p class="center-align">
            <a href="{{credit}}">{{author}}</a>
          </p>
        </div>

        <div class="col s4">
          <p class="right-align" ng-click="grayScale()">GrayScale</p>
        </div>

      </div>


    </div>

    
  </div>


  <script type="text/javascript" src="./lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./lib/Materialize/dist/js/materialize.js"></script>
  <script type="text/javascript" src="./lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="./lib/angular-route/angular-route.min.js"></script>
  <script src="app/app.js"></script>
</body>
</html>