<div class="background" style="background-image: url({{url}})">

<div class="centered">
  <h1 class="center">{{ today | date:'longDate' }}</h1>
  <h1 class="center">{{ today | date:'shortTime' }}</h1> 
</div>

<footer class="row foot">
  <div class="col s4">
    <p class="left-align">
      <span class="pointer" ng-click="changePicture()">Change</span>
    </p>
  </div>

  <div class="col s4">
    <p class="center-align">
      <a href="{{credit}}">{{author}}</a>
    </p>
  </div>

  <div class="col s4">
    <p class="right-align">
      <span class="pointer" ng-click="grayScale()">GrayScale</span>
    </p>
  </div>
</footer>

</div>